<div class="row beer-simple-box">
	<div class="img-place">
		<a href="#/beer/{{beer.id}}"><img class="img-responsive" ng-src="images/beer/{{beer.picture}}" /></a>
	</div>
	<div>
		<a href="#/beer/{{beer.id}}">
			<div class="title">{{beer.name}}</div>
			<div class="genre">{{beer.genre}}</div>
			<div class="params">
				<div class="blg">{{beer.blg}}<span>Blg</span></div>
				<div class="litres">{{beer.litres}}<span>L</span></div>
				<div class="alk">{{beer.alk}}</div>
			</div>
		</a>
	</div>
</div>
