.stats {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.5);

	.stat-chart {
		#defs {
			& + rect {
				fill: transparent !important;
			}
		}
	}

	.stat-name {
		color: rgb(175, 175, 175);
		font-size: 30px;
	    font-weight: 300;
	    text-align: center;
	    display: block;
	    margin-top: 60px;
	}

	.stat-value {
		color: rgba(255, 254, 167, 0.88);
		font-size: 48px;
	    font-weight: 300;
	    text-align: center;
	    display: block;

	    & + .stat-value {
	    	font-size: 30px;
	    	color: #fff;
	    }
	}
}
